body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #e06a6a;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 10px #aaa;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.login-box button {
    background: #007BFF;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-box button:hover {
    background: #0056b3;
}

.success {
    color: rgb(255, 0, 140);
}

.danger {
    color: red;
}
